.App {
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.App main .header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  color: pink;
  z-index: 1001;
}

.App main .header h1 {
  font-family: "Gill Sans", sans-serif;
}

.App main {
  position: absolute;
  left:0; top: 0; bottom: 0; right:0;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App main .lyric {
  position: absolute;
  left:0; top: 0; bottom: 0; right:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  font-family: "Gill Sans", sans-serif;
  padding: 50px;
  z-index: 100;
}

.App main .stars-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: 5;
}
.App main .stars-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: 5;
}


.App main .audio-visualizer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.App main .media-controller {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1002;
}
.App main .dashboard {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1002;
}